@import url(sanitize.css);

body {
  width: auto;
  height: 3000px;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0);

}

header h1 {
  color: #ffffff;
  margin: 0;
  padding: 16px;
}

.header-menu {
  background-color: #ffffff;
  box-shadow: 5px 0px 5px #808080;
  animation-name: fade-in1;
  animation-duration: 0.5s;
  animation-timing-function: ease-out; //アニメーションさせるイージング
  animation-delay: 0s; //アニメーション開始させる時間
  animation-iteration-count:1; //繰り返し回数
  animation-direction:normal; //往復処理をするかどうか
  animation-fill-mode: forwards; /
}

.makeItTransparent {
  animation-name: fade-in2;
  animation-duration: 0.5s;
  animation-timing-function: ease-out; //アニメーションさせるイージング
  animation-delay: 0s; //アニメーション開始させる時間
  animation-iteration-count:1; //繰り返し回数
  animation-direction:normal; //往復処理をするかどうか
  animation-fill-mode: forwards; /
}

.header-h1 {
  color: #1a1a1a;
}

@keyframes fade-in1 {
  0% {background: rgba(0, 0, 0, 0)}
  100% {background: rgba(255, 255, 255, 1.0)}
}

@keyframes fade-in2 {
  0% {background: rgba(255, 255, 255, 1.0)}
  100% {background: rgba(0, 0, 0, 0)}
}

img {
  width: 100%;
}

.image-area {
  position: relative;
  margin: 0;
  padding: 0;
}
.link-pixabay {
  color: #ffffff;
  z-index: 2;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 16px;
}

.link-pixabay a {
  color: #ffffff;
}

.product-area {
  margin: 0;
  padding: 0;
  position: relative;
}
.product-contents {
  width: 100px;
  height: 150px;
  display: inline-block;
  position: absolute;
  margin: 16px;
  border: solid 1px #dcdcdc;
  box-shadow: 2px 2px 2px #dcdcdc;
}

.contents-left {
  left: 30%;
}
.contents-right {
  right: 30%;
}
