@import url(sanitize.css);

header {
  background-color: #1a1a1a;
}

header h1 {
  color: #ffffff;
}

img {
  width: 100%;
}

.link-pixabay {
  color: #ffffff;
  z-index:
}

.link-pixabay a {
  text-decoration: none;
  color: #ffffff;
}
